:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-bg-main: #f6f7fa;
  --color-bg-container: #fffdf3;
  --color-header: #1565c0;
  --color-btn-main: #1976d2;
  --color-btn-main-hover: #1565c0;
  --color-btn-dark: #0d47a1;
  --color-btn-admin-bg: #e3eafc;
  --color-btn-admin-border: #b6c6e3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--color-bg-main);
  font-family: var(--font-geist-sans, Arial, sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
